@import "./resets";
@import "./variables";



.all-rooms-container{
    margin: 1rem 0rem;
    position: relative;

    .all-rooms-col{
    position: relative;
    
    }
    .rooms-img{
    width: 100%;
    position: relative;
    }
    .room-details{
        position: relative;
        top: -4rem;
        cursor: pointer;

    }
    .rooms-name-header{
        background-color: rgb(207, 207, 207);
        color: black;
        font-weight: bolder;
    }
}

@media screen  and (max-width:700px){
    .room-details{
        position: relative;
        left: 3rem;

    }
    
}


