@import "./resets";
@import "./variables";
@import "./mixins";

.check-avaliable-container{
    padding: 3rem 0rem;
    background-color: rgb(231, 231, 231);
    text-align: center;
    h3{
        padding-bottom: 1rem;
    }
}
.check-avaliable-row{
    @include flexCenter(row);
    text-align: left;

    .check-label{
        font-size: 1rem;
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

}
.check-select{
    padding: 15px;
    margin-left: 2rem;
    
    .check-labels{
        padding: 5px;
        border-style: none;
        font-family: $fontFamily;
    }

    .check-options{
        padding: 10px;
        border-style: none;
        outline: none;
    }
}
.check-input{
   margin: 1rem;

    .check-inp{
        padding: 10px;
        border-style: none;
    }

    
}
.check-submit{
    padding-top: 1.8rem;


    .submit-now{
        @include submitBtn;

    }
}
@media screen and (max-width:700px) {
    .check-select, .check-input{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;

        &:hover{
            transition: all 0.3s ease-in-out;
            background: $HeaderColor;
            color: white;
        }
    }
    .check-label{
        font-size: 1.5rem;
        font-weight: 400;
    }

    .check-options{
        margin: 5px auto;
        width: 70%;
    }
    .check-inp{
        width: 70%;
        margin: 0px auto;
        transition: all 0.3s ease;
    }

    

    
}

