* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-left {
  margin: 1rem 0rem;
  position: relative;
}

.login-left::before {
  position: absolute;
  display: block;
  width: 95.8%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: ' ';
  z-index: 1;
}

.login-left .form-header {
  padding: 5rem;
  position: absolute;
  top: 2rem;
  z-index: 99;
}

.login-left .form-header:hover {
  cursor: pointer;
}

.login-left .form-header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  font-weight: bolder;
  line-height: 3rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 3.5rem;
}

.login-left .form-header h1:hover {
  color: #ff7300;
}

.login-left .form-header p {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}

.login-left #cover {
  width: 100%;
  height: 80vh;
}

.login-left img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.login-right {
  position: relative;
  margin: 5rem 0rem;
}

.login-right .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 2rem;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.login-right .form-inputs {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.login-right .form-inputs .form-label {
  font-size: 1rem;
  margin-bottom: 6px;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  font-weight: bolder;
  margin-left: 1.7rem;
}

.login-right .form-inputs .form-input {
  padding: 10px;
  display: block;
  width: 90%;
  margin: 0px auto;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.login-right .form-inputs .form-input:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.login-right .form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: red;
}

.login-right .form-input-btn {
  padding: 10px;
  margin: 12px;
  border-style: none;
  outline: none;
  width: 200px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#ff7300), to(#ff5f02));
  background: linear-gradient(90deg, #ff7300 0%, #ff5f02 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.login-right .Message {
  font-weight: bolder;
}

.login-right .Message .next-page {
  color: #ff5f02;
}

@media screen and (max-width: 700px) {
  .login-left {
    margin: 0.1rem auto;
    position: -webkit-sticky;
    position: sticky;
    padding: 0rem;
  }
  .login-left::before {
    width: 100%;
    margin: 0px auto;
  }
  .login-left .form-header {
    position: absolute;
    top: 2rem;
    z-index: 99;
    padding: 1rem;
  }
  .login-left .form-header:hover {
    cursor: pointer;
  }
  .login-left .form-header h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: rem;
    margin: 5rem auto 0rem auto;
    letter-spacing: 0.1rem;
    color: white;
    text-align: center;
  }
  .login-left .form-header h1:hover {
    color: #ff7300;
  }
  .login-left .form-header p {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
  }
  .login-right {
    padding: 0rem;
  }
  .login-right .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0px auto;
    padding: 2rem;
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }
  .login-right .form-inputs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .login-right .form-inputs .form-label {
    font-size: 1rem;
    margin-bottom: 6px;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    font-weight: bolder;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  .login-right .form-inputs .form-input {
    padding: 10px;
    display: block;
    width: 90%;
    margin: 0px auto;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .login-right .form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: red;
  }
  .login-right .form-input-btn {
    padding: 10px;
    margin: 12px;
    border-style: none;
    outline: none;
    width: 200px;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#ff7300), to(#ff5f02));
    background: linear-gradient(90deg, #ff7300 0%, #ff5f02 100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 2rem auto;
  }
  .login-right .Message {
    font-weight: bolder;
    text-align: center;
  }
  .login-right .Message .next-page {
    color: #ff5f02;
  }
}
/*# sourceMappingURL=Login.css.map */